body {
    background: linear-gradient(0deg, #97edf36e, #6ee4ec4f), url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.form {
    color: rgb(228, 228, 228);
    padding: 10px;
    position: relative;
    margin: auto;
    background: linear-gradient(0deg, #712eeed2, #2a46c3c9);
    height: 700px;
    width: 55%;
    box-shadow: 0px 0px 5px #bdbdbd;
    border-radius: 10px;
}

input {
    border-width: 0 0 2px;
    border-color: #2b7cff;
    display: block;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-left: 3%;
    background: transparent;
    color: rgb(204, 204, 204);
}

input:focus {
    outline: none;
    border-color: #47e609;
}

label {
    margin-left: 1.5%;
}

.btn {
    position: absolute;
    right: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #1fbd46;
    margin-top: 20px;
}

.btn:hover {
    background: #199c39;
    color: white;
    box-shadow: 0px 0px 3px rgb(153, 153, 153);
}

.btn-md {
    position: absolute;
    right: 10px;
    top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #1fbd46
}

.btn-md:hover {
    background: #199c39;
    color: white;
    box-shadow: 0px 0px 3px rgb(153, 153, 153);
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.877);
    padding: 10px;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 3%;
    height: 95vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableheader {
    background: rgb(9, 111, 207);
}

td,
th {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center {
    text-align: center;
}

.close {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    background: rgb(209, 49, 49);
    border-radius: 5px;
    color: white;
}

.update {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    background: rgb(219, 205, 8);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}