.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: .9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

hr {
    margin-top: -1%;
}

input {
    width: 90%;
    border: none;
    padding-top: 30px;
    background-color: transparent;
    outline: 0;
}

.form-group {
    border: none;
    border-bottom: 1px solid #999;
}

.main {
    margin-top: 3%;
    background-color: #ffffff;
    width: 80%;
    padding: 2%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* Election Form Styles */

.custom-control-label::before,
.custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.5rem;
    height: 1.5rem;
}

.custom-checkbox {
    /* border: solid 1px black; */
    width: 50%;
    margin: auto;
    margin-top: 1%;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 110% !important;
}

.role {
    margin-left: 3%;
}

.card {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.bold {
    font-weight: bold;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.box {
    box-shadow: 0 0 5px #1aba60;
}

.header {
    background: linear-gradient(rgb(34, 136, 219), rgb(31, 223, 236));
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; */
}